In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [4]:
region_sales=pd.DataFrame([[50,142,131,70] ,[550,351,480,350]],index=["Male","Female"],
                    columns=["East","West","North","South"])

In [5]:
region_sales

        East  West  North  South
Male      50   142    131     70
Female   550   351    480    350

In [6]:

region_sales.columns

Index(['East', 'West', 'North', 'South'], dtype='object')

In [8]:
region_sales.index

Index(['Male', 'Female'], dtype='object')

In [17]:
chi2_contingency(region_sales)

(80.27295426602495,
 2.682172557281901e-17,
 3,
 array([[111.01694915,  91.21892655, 113.05225989,  77.71186441],
        [488.98305085, 401.78107345, 497.94774011, 342.28813559]]))

In [21]:
df=chi2_contingency(region_sales)[3] 
region_salesE=pd.DataFrame(data=df[:,:],index=["Male","Female"],
                    columns=["East","West","North","South"]).round(2)

In [19]:
df

array([[111.01694915,  91.21892655, 113.05225989,  77.71186441],
       [488.98305085, 401.78107345, 497.94774011, 342.28813559]])

In [22]:
region_salesE

          East    West   North   South
Male    111.02   91.22  113.05   77.71
Female  488.98  401.78  497.95  342.29

In [23]:
chisquare=chi2_contingency(region_sales)[0]

In [24]:
chisquare

80.27295426602495

In [26]:
Pvalue=chi2_contingency(region_sales)[1]

In [31]:
Pvalue

2.682172557281901e-17